/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
#header{
    background-color:rgba(120,50,126,255);
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
  
   
}

.nav-header{
    width: 350px;
    height: 100%;
    display: flex; /* Sử dụng flexbox */
    justify-content: flex-end; /* Căn giữa các phần tử con theo chiều ngang từ phải sang trái */
    align-items: center;
    
    
}


.btn-nav{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-style: none;
    margin: 5px;
    
   

}


.nav-header .btn-nav:hover,  .question-header .btn-nav:hover{
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
}



#header .icon-header{
    float: right;
    font-size: 18px;
    color: rgb(204, 204, 204);
   
  
}



#header .search-header{
   
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
    width: 45%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255,255,255, 0.2) ;
     
    
}

#header .search-header:hover{
    cursor: pointer;
}

.search-header .text-search{
    color: white;
    font-size: 12px;
    padding-left: 20px;
  
    user-select: none;
   
     
}

.search-header .icon-search{
    color: rgb(204, 204, 204);
    cursor: pointer;
   

}


.question-header{
    margin-left: auto;
    margin-right: 15px;
}





#body{
    
    background-color: white;
    flex: 1;
    display: flex;
    
    
}



.content{
    
    width: 75%;
    height: 100%;

}



.side-bar{
    background-color: rgba(120,50,126,255);
    width: 350px;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    

}
#body .frame{
    border: none;
}


